<div class="header">
    <div class="grid grid-row content-center">
        <div class="col-start-1 gap-2">
            <a href="/home">Home</a>
        </div>
        <div class="col-start-2">
            <a href="">About me</a>
        </div>
        <div class="col-start-3">
            <a href="">Profile</a>
        </div>
        <div class="col-start-4">
            <a href="">Experience</a>
        </div>
        <div class="col-start-5">
            <a href="">Contact me</a>
        </div>
    </div>
</div>